

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ url_for('home') }}">SEARCHING API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- Home -->
                    <li class="nav-item">
                        <form action="{{ url_for('home') }}" method="get">
                            
                            <input type="submit" value="Home" style="background-color:transparent; border:black">
                        </form>
                    </li>
                    
                   
                </ul>
                  <!-- Search bar -->
                  <div class="d-flex">
                    <form action="/home" method="POST">
                        <input type="text" placeholder="Search.." name="artist_search" id="sBox"/>
                       
                        <button type="submit" style="background-color: transparent; border: none;">
                            <span class="material-icons">search</span>
                        </button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </nav>
    

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Search API</h1>
                <p class="lead fw-normal text-white-50 mb-0">Search for artists songs ands shows in one place</p>
            </div>
        </div>
    </header>
      
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- cubito foto-->
                {% for link in links%}
                    <div class="col mb-5" >
                        <div class="card h-100" id="cubo">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    {% for key, value in link.items() %}
                                    <h5 class="fw-bolder" id="title"> {{value}}</h5>
                                    
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- fin cubito foto -->

                {% for link in links1%}
                
               
             
                    <div class="col mb-5" >
                        <div class="card h-100" id="cubo">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    {% for key, value in link.items() %}
                                    <h5 class="fw-bolder" id="title">{{value}}</h5>
                                    
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
                <!-- fin cubito foto -->
            </div>
        </div>

    </section>
   

</body>
</html>

